:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee;
}

.timer {
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 50px;
}

.field {
  padding: 10px;
  border-radius: 3px;
  background: darkgrey;
  display: inline-block;
  margin-right: 12px;
}

.filed:last-child {
  margin-right: 0;
}

.value {
  padding: 15px;
  border-radius: 3px;
  background: whitesmoke;
  color: black;
  display: inline-block;
}

.label {
  display: block;
  padding-top: 5px;
  font-size: 16px;
}
